.show-comics{
    background-color: #0282F9;
}
.min-container{
    max-width: 825px;
    margin: 0 auto;
}

.card-comics.action{
    padding: 10px 0;
}
.card-comics.action>img{
    margin-top: -180px;
    width: 120px;
}