section.home{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container.black,
.container.blue{
    max-width: 100%; 
}

.container.black{
    background-color: black;
    max-width: 100%;
}

.container.blue{
   background-color: #0282F9;
}

.main-content,
.shop-items{
    max-width: 1080px;
    margin: 0 auto;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

button{
    background-color: #0282F9;
    color: white;
    text-transform: uppercase;
}
button.series{
    align-self: flex-start;
    font-size: 24px;
    padding: 10px 5px;
    margin-top: -30px;
}

button.load{
    padding: 15px 50px;
}

.shop-items{
    display: flex;
    align-items: center;
    padding: 45px 0;
}

ul.items{
    list-style: none;
    padding:0;
    margin:0;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

ul.items>li{
    display: flex;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
    font-size: 14px;
}

ul.items img{
    width: 50px;
}

li.shop img{
    width:35px;
}

/**sezione fumetti**/
.comics{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    margin: 0 -10px;
}

.card-comics{
    max-width: 160px;
    padding: 10px;
    text-align: center;
}

.card-comics img{
    width: 100%;
    aspect-ratio: 1/1.5;
}

.card-text{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}